@charset "utf-8";

body {
  font-family: 'Lato';
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.font_r {
  font-family: Raleway;
}

.hamburger {
  display: none;
}



.bolt-header {
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.bolt-header-inner::after {
  content: “”;
  clear: both;
  display: block;
}
.bolt-header__icon {
  color: #4e4e4e;
  float: left;
  font-size: 40px;
}
.bolt-header__contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  transition: color 0.3s;
  text-decoration: none;
}
.bolt-header__contact:hover {
  color: #333;
}




.main {
  padding-top: 70px;
  width: 100%;
}
.title {
  padding: 250px 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}
.title__name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
.title__sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top:20px; 
}




.desc {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
}
.desc-inner {
  display: flex;
}
.desc__figure {
  padding-left: 150px;
}
.desc__figure > img {
  vertical-align: bottom;
}
.desc__content {
  font-size: 20px;
  text-align: center;
  margin-left: 150px;
  align-self: center;
}
.desc__content--title {
  font-size: 24px;
}
.desc__content--detail{
  margin-top: 35px;
  line-height: 1.3em;
}



.works {
  color: #4e4e4e;
  background-color: #f2f2f2;
  padding: 60px 0 70px;
  text-align: center;
  width: 100%;
}
.works__title {
  font-size: 24px;
}
.works__figures {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 90px;
  list-style-type: none;
}
.works__figures--figure {
  margin-right: 100px;
  margin-bottom: 80px;
}
.works__figures a {
  opacity: 0.7;
  display: inline-block;
  transition: opacity 0.3s;
}

.works__figures--figure > a:hover {
  opacity: 1;
}
.works__figures--figure:nth-child(3n) {
  margin-right: 0;
}
.works__figures--figure:nth-last-child(-n+3){
  margin-bottom: 0;
}
.works__desc {
  font-size: 0;
}
.works__desc--text {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5em;
  width: 600px;
  vertical-align: middle;
}
.works__desc--mail-button {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color .3s;
  vertical-align: middle;
}
.works__desc--mail-button:hover {
  color: #333;
}



.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
}
.skills__title {
  text-align: center;
  font-size: 24px;
}
.skill__figures {
  margin-top: 50px;
  text-align: center;
}
.skill {
  display: inline-block;
  margin-left: 180px;
  text-align: center;
}
.skill > figcaption {
  margin-top: 20px;
  text-align: center;
}
.skill:first-child {
  margin-left: 0;
}



.nav-base {
  background-color: #f2f2f2;
  padding: 200px 0;
}
.nav-inner {
  text-align: center;
  list-style: none;
  letter-spacing: -100px;
}
.nav-inner li, .nav-inner a{
  display: inline-block;
  transition: background-color .3s;
}
.nav-inner li {
  width: 185px;
}
.nav-inner a {
  padding: 25px 0;
}
.icons {
  color: #74cfae;
  font-size: 3em;
  text-decoration: none;
  letter-spacing: normal;
}
.nav-inner > li:hover {
  background-color: #fff;
}



.footer-base {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px;
}
.footer-inner {
  text-align: right;
}
.footer-base > p {
  display: inline-block;
}






@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .desc {
    padding-bottom: 25px;
  }
  .desc-inner {
    display: block;
    text-align: center;
  }
  .desc__figure {
    padding-left: 0;
  }
  .desc__content {
    width: 100%;
    margin: 20px auto 0;
  }
  /* textが動く。
  ある程度のwidthで固定したほうがいいのか？ */


  .works__figures {
    display: block;
    font-size: 0;
  }
  .works__figures--figure {
    margin: 0;
  }
  .works__figures--figure:nth-child(3n) {
    margin-bottom: 80px;
  }
  .works__desc {
    padding: 0 15px;
  }
  .works__desc--text {
    display: block;
    width: 100%;
  }
  .works__desc--mail-button {
    margin: 40px 0 0;
  }

  

  .skill {
    display: block;
    margin: 88px 0 0;
  }
  .skill:nth-child(1) {
    margin-top: 0;
  }

  .nav-base li {
    width:25%;
  }
  .nav-inner a, .nav-inner .icons {
    width: 100%;
  }
} 



@media screen and (max-width: 767px)
{
  .bolt-header__contact {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* ↓aタグ */
  .hamburger {
    position: relative;
    float: right;
    width: 48px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .bar {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 25px;
    background-color: #ddd;
    transform: translate(-50%, -50%);
  }
  .bar::before,
  .bar::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: inherit;
  }
  .bar::before {
    top: -6px;
  }
  .bar::after {
    top: 6px;
  }



  /* ↓ボタンタグ */
  .c-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .p-hamburger {
    position: absolute;
    top: 15px;
    left: 87%;
    width: 48px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .p-hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25px;
    height: 2px;
    background-color: #ddd;
    transition: inherit;
  }
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: inherit;
  }
  .p-hamburger__line::before {
    top: -6px;
  }
  .p-hamburger__line::after {
    top: 6px;
  }




  .title {
    padding: 160px 0 130px;
  }
  .title__name {
    font-size: 80px;
  }
  .title__sub {
    font-size: 30px;
  }


  .nav-base {
    padding: 50px 0;
  } 
  .nav-inner li {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
} 
  